@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

* {
  margin: 0;
  padding: 0;
}

main a {
  text-decoration: none;
}

main {
  display: flex;
  background: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
}

.section-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 40px;
  gap: 30px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: var(--bg-cards);
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #00000033;
}

.avatar {
  border: 3px solid var(--bg-cards);
  outline: 4px solid var(--bg-techs);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.user-name {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 4px;
}

.specialization {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
}

.box-2 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: var(--bg-cards);
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #00000033;
  row-gap: 20px;
}

.box-2-link {
  display: flex;
  gap: 15px;
  align-items: center;
}

.box-2 p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.box-3 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--bg-cards);
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #00000033;
}

.boxes-title {
  color: var(--text-color);
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
}

.tech-cards {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  gap: 10px;
}

.techs {
  background: var(--bg-techs);
  width: 85px;
  height: 25px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techs p {
  font-size: 10px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0em;
}

.box-4 {
  display: flex;
  flex-direction: column;
  padding: 28px 30px 10px 20px;
  background: var(--bg-cards);
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #00000033;
}

.box-4 ul {
  margin: 30px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  line-height: 15px;
}

.company-li {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
}

.year-li {
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0em;
}

.special-li {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}

.box-5 {
  display: flex;
  flex-direction: column;
  padding: 28px 30px 10px 20px;
  background: var(--bg-cards);
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #00000033;
}

.box-5 ul {
  margin: 30px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  line-height: 15px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  flex: 4;
  margin: 40px;
  gap: 30px;
}

.box-6 {
  display: flex;
  padding: 20px;
  background: var(--bg-cards);
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #00000033;
}

.title-section-2 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
}

.boxes-7-8 {
  gap: 30px;
  display: flex;
}

.box-7 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--bg-cards);
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #00000033;
  position: relative;
  transition: transform 500ms ease;
}

.box-7:hover {
  transform: scale(1.05);
}

.a-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.proj {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.proj-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.foot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.like-send {
  display: flex;
  gap: 10px;
}

.l-s {
  display: flex;
  gap: 5px;
}

.type-tech {
  display: flex;
  gap: 5px;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #e7de79;
  border: 2px solid var(--text-color);
}

.box-9 {
  display: flex;
  padding: 20px;
  background: var(--bg-cards);
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #00000033;
}

.box-10 {
  display: flex;
  padding: 20px;
  background: var(--bg-cards);
  border-radius: 16px;
  box-shadow: 2px 2px 2px 1px #00000033;
  gap: 20px;
  color: var(--text-color);
  position: relative;
  transition: transform 500ms ease;
}

.box-10:hover {
  transform: scale(1.05);
}

.post-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  margin-bottom: 8px;
}

.time {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  margin-bottom: 24px;
}

.article {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  margin-bottom: 10px;
}

.hashtags {
  display: flex;
  gap: 25px;
}

.img-avatar {
  width: 120px;
  height: fit-content;
  clip-path: circle(50% at 50% 50%);
}
